* {
	margin: 0;
	padding: 0;
	font-family: 微軟正黑體;
}
.sidenav {
	background-color: white;
}
.center {
	height: 100%;
	background-color: white;
}
.row.content {height: 100%}
.jumbotron.jumbotronCSS {
	background-color: white;
	margin: 0;
	padding: 0;
	padding-left: 3%;
	color: #2e2d4d;
}
.navbar-default {
	background-color: #56494e;
	border-color: #443a3e;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #ecf0f1;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #ecf0f1;
	background-color: #443a3e;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #ecf0f1;
	background-color: #443a3e;
}
.navbar-default .navbar-toggle {
	border-color: #443a3e;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #443a3e;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecf0f1;
		background-color: #443a3e;
	}
}
/*brown button*/
.btn-default {
	color: #ffffff;
	background-color: #56494E;
	border-color: #443A3E;
} 
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	color: #ffffff;
	background-color: #443A3E;
	border-color: #443A3E;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #56494E;
	border-color: #443A3E;
}
.btn-default .badge {
	color: #56494E;
	background-color: #ffffff;
}